@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

else
{
    <div id="successAlert" class="alert alert-success">
        <strong>Udało Ci się dodać przepis!</strong> <br />
        Kliknij <a asp-action="AddRecipe" asp-controller="AddRecipe">tutaj</a>, aby powrócić do strony głównej!
    </div>
}