@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<CookbookPI.Models.Entities.Users>
<table class="table">
    <thead>
        <tr class="table-success">
            <th>
                <label class="fa fa-user"> Użytkownik</label>
            </th>
            <th>
                <label class="fa fa-envelope"> E-Mail</label>
            </th>
            <th>
                <label class="fa fa-calendar"> Data rejestracji</label>
            </th>
            <th>
                <label class="fa fa-terminal"> Typ konta</label>
            </th>
            <th>
                <label class="fa fa-ban"> Zablokowany?</label>
            </th>
            <th>
                <label class="fa fa-search"> Szczegóły</label>
            </th>
            <th><label class="fa fa-cog"> Szybkie opcje</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="table-success">
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRegistration)
                </td>
                <td>
                    @switch (item.ID_Permission)
                    {
                        case 1:
                            <text>Użytkownik</text>
                            break;
                        case 2:
                            <text>Moderator</text>
                            break;
                        case 3:
                            <text>Administrator</text>
                            break;
                    }
                </td>
                <td>
                    @switch (item.isBanned)
                    {
                        case true:
                            <text>Tak</text>
                            break;
                        case false:
                            <text>Nie</text>
                            break;
                    }

                </td>
                <td><a class="fa fa-search btn btn-info" asp-action="UserInfo" asp-route-id="@item.ID_User"></a></td>
                <td>
                    <select class="form-control-sm btn-outline-info">
                        <option></option>
                        <option>Zmień uprawnienia</option>
                        <option>Zablokuj</option>
                        <option>Edytuj</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>

